# Temporary config used during SvelteKit build phase
# This tells adapter-cloudflare where to output files
name = "pingflare"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

pages_build_output_dir = ".svelte-kit/cloudflare"

[[d1_databases]]
binding = "DB"
database_name = "pingflare-db"
database_id = "f53140e2-d3ea-4d34-b6f6-92db167c64d9"

[vars]
ENVIRONMENT = "production"
